.form {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input_search {
    min-width: 300px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(42, 104, 248);
    outline: transparent;

}

.input_search:hover {
    border: 1px solid rgb(42, 231, 248);
}

.input_search:focus-within {
    border: 1px solid rgb(42, 248, 179);
    color: #2E2F42;
}

.btn_search {
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgb(42, 104, 248);
    border: 1px solid rgb(49, 248, 42);
}

.btn_search:hover,
.btn_search:focus {
    transform: scale(1.04);
    background: rgba(169, 42, 248, 0.799);
}