.home_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}
.home_title{
    color:rgb(42, 100, 248);
    margin-bottom: 20px;
    text-shadow: 4px 4px 2px rgba(75, 120, 226, 0.6);
}